<div class="container-fluid">
  <div class="p-3 mb-2 bg-dark text-white">
    <h1>打席管理アプリ</h1>
    <% if user_signed_in? %>
      <p> ようこそ<%= current_user.name %> さん </p>
      <%= link_to "成績を登録する", games_path %>
    <% else %>
      <h2>現在ログインしていません</h2>
      <%= link_to "ログイン",new_user_session_path, class: 'post' %>
      <%= link_to "新規登録",new_user_registration_path, class: 'post' %>
    <% end %>
  </div>
</div>
